{% extends 'meappe/base.html' %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="container-fluid pb-5">
        <div class="row px-xl-5 d-flex justify-content-center">
            <div class="col-lg-3 h-auto mb-30">
                <div class="h-100 bg-dark p-30">
                    <ul class="account-list">
                        <li><a href="{% url 'update_account' user.username %}" class="btn btn-link">Аккаунт</a></li>
                        <li><a href="{% url 'password_change' %}" class="btn btn-link">Сменить пароль</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <div class="d-flex justify-content-center"><h3>{{ user.username }}</h3></div>

                    {% for f in form %}
                        <p><label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}: </label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}

                    {% for f in form2 %}
                        <p><label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}: </label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}

                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

</form>


{% endblock %}
