{% extends 'meappe/base.html' %}
{% load static %}

{% block content %}

<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Связаться с нами</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="Ваше имя"
                            required="required" data-validation-required-message="Пожалуйста введите имя" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Ваш email"
                            required="required" data-validation-required-message="Пожалуйста введите email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" placeholder="Тема"
                            required="required" data-validation-required-message="Пожалуйста введите тему" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="8" id="message" placeholder="Сообщение"
                            required="required"
                            data-validation-required-message="Пожалуйста введите сообщение"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div class="bg-light p-30 mb-30">
                <div style="position:relative;overflow:hidden;">
                    <a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps"
                       style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a>
                    <iframe src="https://yandex.ru/map-widget/v1/?ll=37.564464%2C55.801030&mode=whatshere&whatshere%5Bpoint%5D=37.564464%2C55.801030&whatshere%5Bzoom%5D=17&z=17"
                             height="237" frameborder="1" allowfullscreen="true" style="position:relative; width: 100%;"></iframe>
                </div>
            </div>
            <div class="bg-light p-30 mb-3">
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Россия, г. Москва, Петровский парк, д. 1</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@meshoppe.ru</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+7 495 123-45-67</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}
