{% extends 'meappe/base.html' %}
{% load static %}
{% load index %}

{% block content %}
<script src="{% static 'meappe/js/cart.js' %}"></script>

<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light" align="center">
                    <div class="carousel-item active">
                            <img class="" src="{{ images.0.image.url }}" alt="Image" height="470">
                    </div>
                    {% for i in images|slice:"1:" %}
                        <div class="carousel-item">
                                <img class="" src="{{ i.image.url }}" alt="Image" height="470">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>
                    {{ product.name }}
                     {% if request.user|has_group:"Администраторы" or request.user|has_group:"Демо" %}
                        <a class="btn btn-primary" href="{% url 'update_product' product.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a class="btn btn-danger" href="{% url 'delete_product' product.id %}"><i class="fa-solid fa-trash"></i></a>
                    {% endif %}
                </h3>

                <h3 class="font-weight-semi-bold mb-4">{{ product.price|floatformat:"0" }} руб.</h3>
                {% if product.in_stock %}
                    <p class="mb-4 in-stock"><i class="fa-solid fa-square-check"></i> В наличии</p>
                {% else %}
                    <p class="mb-4 out-stock"><i class="fa-solid fa-square-xmark"></i> Нет в наличии</p>
                {% endif %}
                <p class="mb-4">
                    <b>Консоли: </b>
                    {% for console in consoles %}
                        {{ console.name }}
                    {% endfor %}
                </p>
                {% if genres %}
                <p class="mb-4">
                    <b>Жанры: </b>
                    {% for genre in genres %}
                        {{ genre.name }}
                    {% endfor %}
                </p>
                {% endif %}
                {% if localizations %}
                <p class="mb-4">
                    <b>Локализация: </b>
                    {% for localization in localizations %}
                        {{ localization.language }}
                    {% endfor %}
                </p>
                {% endif %}
                {% if product.release_date %}
                <p class="mb-4">
                    <b>Дата выхода: </b>
                    {{ product.release_date }}
                </p>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    <div class="d-inline-block mb-4 pt-2">
                        <div class="input-group inline-group">
                          <div class="input-group-prepend">
                            <span class="btn btn-sm btn-primary btn-minus">
                              <i class="fa fa-minus"></i>
                            </span>
                          </div>
                          {{ form.quantity }}
                          <div class="input-group-append">
                            <span class="btn btn-sm btn-primary btn-plus">
                              <i class="fa fa-plus"></i>
                            </span>
                          </div>
                        </div>
                    </div>
                        <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> В корзину</button>
                </form>

            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <h4 class="mb-3">Описание товара</h4>
                {{ product.description | linebreaks }}
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


{% endblock %}
