{% extends 'meappe/base.html' %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data" id="left-side">
{% csrf_token %}
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-6 mb-30 ">
                <div class="h-100 bg-light p-30">
                    <p><b>Фото:</b></p>
                        {{ formset.as_p }}

                        {% for i in images %}
                            {{ i.order }}
                            <img src="{{ i.image.url }}" alt="" width="185">
                        {% endfor %}
                </div>
            </div>

            <div class="col-lg-6 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                        <div class="form-error">{{ form.non_field_errors }}</div>

                        <div class="form-error">{{ form.non_field_errors }}</div>

                        {% for f in form %}
                            <p><b><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label></b><br> {{ f }}</p>
                            <div class="form-error">{{ f.errors }}</div>
                        {% endfor %}

                        <button class="btn btn-primary" onclick="submitForms()" type="submit">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

