{% extends 'meappe/base.html' %}

{% block content %}

<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-6 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="{{ product.img.url }}" alt="Image">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-6 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-error">{{ form.non_field_errors }}</div>

                    {% for f in form %}
                        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label><br> {{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <button type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

