{% extends 'meappe/base.html' %}

{% block content %}

<script>
    $( function() {
        $( "#images-sortable" ).sortable({
        revert: false,
        cursorAt: { top: 20, left: 5 },
        });
        $( "#images-sortable" ).disableSelection();
    } );
</script>

<script>
    function delete_img(id) {
        x = document.getElementById(id);
        x.style.display = 'none';
        y = document.querySelector(`#${id} input`);
        y.name = 'images-delete';
    };
</script>

<form action="" method="POST" enctype="multipart/form-data" id="left-side">
{% csrf_token %}
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-6 mb-30 ">
                <div class="h-100 bg-light p-30" id="containment-wrapper">
                    <p><b>Фото:</b></p>
                        {{ formset.as_p }}

                        <ul id="images-sortable">
                            {% for i in images %}
                                <li id="img{{ i.id }}" >
                                    <input type="hidden" value="{{ i.id }}" name="images-order">
                                    <div class="images-styling">
                                        <img src="{{ i.image.url }}" alt="" width="185">
                                        <div class="x-delete"><i class="fa-solid fa-xmark" onclick="delete_img('img{{ i.id  }}')"></i></div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>

            <div class="col-lg-6 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                        <div class="form-error">{{ form.non_field_errors }}</div>

                        <div class="form-error">{{ form.non_field_errors }}</div>

                        {% for f in form %}
                            <p><b><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label></b><br> {{ f }}</p>
                            <div class="form-error">{{ f.errors }}</div>
                        {% endfor %}

                        <button class="btn btn-primary" onclick="submitForms()" type="submit">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

