{% extends 'meappe/base.html' %}
{% load static %}

{% block content %}

<script src="{% static 'meappe/js/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'meappe/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'meappe/js/infinite.min.js' %}"></script>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop List</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Фильтры начало -->
            <div class="col-lg-3 col-md-3">
            <form method="get">

                {% for f in filter.form %}
                    <h5 class="section-title position-relative text-uppercase mb-3">
                        <label for="{{ f.id_for_label }}">{{ f.label }}: </label>
                    </h5>
                    <div class="bg-light p-4 mb-30">
                        {{ f }}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Фильтр">
                <button type="button" onclick="location.href='{% url 'shop' %}'" class="btn btn-light">
                    Сбросить фильтры
                </button>
            </form>
            </div>
            <!-- Фильтры конец -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="infinite-container row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="ml-2">
                                <!-- Для того чтобы работала сортировка + фильтрация я здесь повторно вывожу фильтры, но скрытыми -->
                                <form method="get">
                                    {% for f in filter.form %}
                                        {% if f == filter.form.sort %}
                                            {{ f }}
                                            <input type="submit" class="btn btn-sm btn-light" value="Сортировать">
                                        {% else %}
                                            <div hidden>{{ f }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
                    </div>

                    {% for product in products %}
                        <div class="infinite-item col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <a href="product/{{ product.slug }}">
                                    <img class="img-fluid w-100" src="{{ product.img.url }}" alt="">
                                </a>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="product/{{ product.slug }}">
                                    {{ product.name|truncatechars:40 }}
                                </a>
                                {% if product.in_stock %}
                                    <p class="in-stock"><i class="fa-solid fa-square-check"></i> В наличии</p>
                                {% else %}
                                    <p class="out-stock"><i class="fa-solid fa-square-xmark"></i> Нет в наличии</p>
                                {% endif %}
                                <p>
                                    {% for console in product.console.all %}
                                        <img src="{{ console.img.url }}" alt="{{ console.name }}" title="{{ console.name }}" width="30">
                                    {% endfor %}

                                    {% for genre in product.genre.all %}
                                        <img src="{{ genre.img.url }}" alt="{{ genre.name }}" title="{{ genre.name }}" width="30">
                                    {% endfor %}
                                    <br>
                                    {% for locale in product.localization.all %}
                                        {{ locale.language|slice:"0:3" }}
                                    {% endfor %}
                                </p>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>{{ product.price }} руб.</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                {% if page_obj.has_next %}
                    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
                {% endif %}
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0]
    });
</script>

{% endblock %}
