.in-stock {
    color: #28a745;
}

.out-stock {
    color: #dc3545;
}

.sm-icon {
    width: 50;
}

.short-width {
    width: 47%;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
    font-weight: bold;
}

.form-input {
    width: 96%;
    font-size: 16px;
}

.form-error {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

/*-----------------------------Добавление, Редактирование Товара------------------------------------*/
#images-sortable {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 900px;
}

#images-sortable li {
    margin: 3px 3px 3px 0;
    padding: 1px;
    float: left;
    width: 185px;
    text-align: center;
}

#images-sortable li::marker {
    content: '';
}

.images-styling {
  position: relative;
}

.x-delete {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 7px;
    color: #fff;
    background-color: #000;
}

.images-styling:hover div {
    display: block;
}

/*-----------------------------Конец Добавление, Редактирование Товара------------------------------------*/


/*-----------------------------Страница Товаров------------------------------------*/
.product-lines {
    height: 2.1em;
}

.product-images {
    width: 310px;
    height: 420px;
    object-fit: scale-down;
}

/*-----------------------------Конец Страница Товаров------------------------------------*/


/*-----------------------------Аккаунт------------------------------------*/
.account-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/*-----------------------------Конец Аккаунт------------------------------------*/

/*-----------------------------Корзина------------------------------------*/
.cart-quantity {
    width: 50px;
    border: none;
}

.cart-delete {
    display: none;
}

.inline-group {
  max-width: 9rem;
  padding: .5rem;
  margin-left: auto;
  margin-right: auto;
}

.inline-group .cart-quantity {
  text-align: center;
}

.cart-quantity[type="number"]::-webkit-inner-spin-button,
.cart-quantity[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*-----------------------------Конец Корзина------------------------------------*/
